.container{
    box-sizing: border-box;
    position: relative;
    padding: 25px 35px;
    width: calc(100% - 20px);
    max-width: 450px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 4px;
    z-index: 100;
    margin-bottom: 10px;
}

.datePopup {
    width: 150px;
    text-align: center;
}
.startDate{
    margin-left: 20px;
    float:left;   
}
.endDate{
    margin-right: 20px;
    float:right;
}
::ng-deep .cdk-overlay-container {
    position: fixed !important;
    z-index: 10000 !important; 
}
.datePicker{
    width: 130px;
}
.dateTitle {
    color: #673ab7;
    margin-bottom: 10px;
}
.verticalLine {
    border-left: 1px solid #bfbfbf;
    height: 155px;
    position: absolute;
    left: 50%;
    top: 25px;
}
.descriptionContent {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 374px;
    height: 120px;
    resize: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.descriptionBox {
    margin-top: 10px;
}
.bookBtn .updateBtn .deleteBtn {
    float:left;
}
.updateBtn  {
    margin-right: 10px;
}
.cancelBtn {
    float:right;
}
.deleteBtn{
    width: 76px;
    margin-left: 20px;
}
.invalidHoursContainer {
    margin-top: 10px;
    font-size: 12px; 
}
.errorMessage{
    color: red;
    font-size:9px;
    text-align:center;
}
.error{
    width:100%;
}
.hours{
    margin-top: 10px;
}