
<app-login-booking *ngIf="this.usertype=='ROOM'" [isLogged]="this.isLogged" [isNewBooking]="this.isNewBooking" (logged)="loggedChange($event)" (closeLogin)="closeLoginPopup($event)"></app-login-booking>

<div class="container" *ngIf="this.isLogged==true">

  <div>
    <span class="datePopup startDate">
      <div class="dateTitle">Start Date</div>
      <div>
        <mat-form-field class="datePicker">
          <input matInput [min]="minDate" [matDatepicker]="picker3" [(value)]="booking.startDate" (dateChange)="startDateValidation($event)">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <!-- <span class="errorMessage" *ngIf="status">Start date is bigger than end date</span> -->
      </div>
    </span>
    
    <span class="datePopup endDate">
      <div class="dateTitle">End Date</div>
      <div>
        <mat-form-field class="datePicker">
          <input matInput [min]="minDate" [matDatepicker]="picker" [(value)]="booking.endDate"  (dateChange)="endDateValidation($event)" >
           
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
      </div>
    </span>
  </div> 


  <div class="hours">
      <app-hour-input-booking [(booking)]="booking" (hourEmitter)="onHourEmit($event)" (statusMessage)="getPrevalidationMessage($event)" (disableBookButton)="getStatusOfBookButton($event)"></app-hour-input-booking>
  </div>
  <mat-error class="errorMessage" *ngIf="status">Start date is bigger than end date</mat-error> 
  <div class="descriptionBox">
    <div class="dateTitle">Notes:</div>
    <textarea class="descriptionContent" [value]="booking.description"> </textarea>
  </div>

  <div>
    <button *ngIf="!booking.id" mat-raised-button color="primary" class="bookBtn" (click)="createBookingTest()" [disabled]="!booked">Book now</button>
    <button *ngIf="booking.id" mat-raised-button color="primary" class="updateBtn" (click)="updateBookingTest()">Update</button>
    <button *ngIf="booking.id" mat-raised-button color="primary" class="deleteBtn" (click)="deleteBooking()">Delete</button>
    <button mat-button color="primary" class="cancelBtn" (click)="cancelBooking()">Cancel</button>
  </div>

</div>
<div *ngIf="bookingStatus==false" class="container">
  <div class="errorMessage">
    <p>Booking failed</p>
  </div>
</div>
