<div class="container">
  <div>
    <span class="datePopup startDate">
      <div class="dateTitle">Start Date</div>
      <div>
        <mat-form-field class="datePicker">
          <input matInput [matDatepicker]="picker3" [(value)]="booking.startDate">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        {{ getTime(booking.startDate)}}
      </div>
      <span class="verticalLine"></span>
    </span>
    <span class="datePopup endDate">
      <div class="dateTitle">End Date</div>
      <div>
        <mat-form-field class="datePicker">
          <input matInput [matDatepicker]="picker" [(value)]="booking.endDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        {{ getTime(booking.endDate)}}
      </div>
    </span>
  </div>

  <div class="descriptionBox">
    <div class="dateTitle">Notes:</div>
    <textarea class="descriptionContent">{{booking.description}} </textarea>
  </div>

  <div>
    <button *ngIf="booking.id" mat-raised-button color="primary" id="bookBtn" (click)="createBookingTest()">Book now</button>
    <button *ngIf="!booking.id" mat-raised-button color="primary" id="updateBtn" (click)="updateBookingTest()">Update</button>
   
    <button mat-raised-button color="primary" class="deleteBtn" (click)="deleteBooking()">Delete</button>
    <!-- <button mat-button color="primary" class="cancelButton">Cancel</button> -->
  </div>
 
</div>