<div class="filters-container">
  <div class="filters-header" [ngClass]="{'header-border-bottom': dropdownOpen}" (click)="toggleDropdown()">
    FILTERS
    <i class="material-icons dropdown-button">arrow_drop_down</i>
  </div>
  <div class="filters-elements" [ngClass]="{'filters-open': dropdownOpen}">
    <div class="calendar">
      <div class="calendar-wrapper">
        <mat-calendar #calendar [(selected)]="selectedDate" (selectedChange)="onDateChanged($event)"></mat-calendar>
      </div>
    </div>
    <div class="filters-body">

      <div class="hours" *ngIf="dateInThePastIn==false">

        <div class="hour-container">
          <div class="hourText">
            <b>From: </b>
          </div>
          <div class="hourInput">
            <app-hour-input (hourEmitter)="onStartHourEmit($event)"></app-hour-input>
          </div>
        </div>

        <br/>

        <div class="hour-container">
          <div class="hourText">
            <b>To: </b>
          </div>
          <div class="hourInput">
            <app-hour-input (hourEmitter)="onEndHourEmit($event)"></app-hour-input>
          </div>
        </div>

        <div class="invalidHoursContainer" *ngIf="invalidHours==true">
          <span>End hour has to be greater than Start hour!</span>
        </div>

      </div>

      <div class="floor">
        <!-- <div>
          <h4 class="peopleContainerHeader">Floor</h4>
            <i *ngIf="floorSelected!=null && floorSelected!=floorByDefault" class="material-icons x-button" (click)="onFloorClear()">
              cancel
            </i>
        </div> -->
        <mat-form-field>
          <mat-label>Select an option:</mat-label>
          <mat-select (selectionChange)="onFloorChange($event)" [value]='floorByDefault'>
            <mat-option *ngFor="let floor of floors" [value]="floor">{{floor}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="people">
        <div>
          <h4 class="peopleContainerHeader"> Number of people attending</h4>
          <i *ngIf="numberOfPeople!=1 && numberOfPeople!=null" class="material-icons x-button" (click)="onPeopleClear()">
            cancel
          </i>
        </div>
        <span class="text-small">1</span>
        <mat-slider thumbLabel min="1" max="30" step="1" (change)="onSliderChange($event)" [(value)]="numberOfPeople"></mat-slider>
        <span class="text-small">30</span>
      </div>

    </div>
    <button mat-stroked-button class="button-filters" color="primary" (click)="onApplyFilters()">Apply filters</button>
  </div>
</div>