.filters-container{
    position: relative;
    width: 100%;
}

/* .room-view-container{
    position: absolute;
    top: 10px;
    left: 350px;
    width: calc(100% - 350px);
    height: calc(100% - 20px);
    box-sizing: border-box;
    padding: 10px;

    background: #f1f1f1;
} */

.filters-header{
    display: none;
}

.button-filters{
    display: block;
    font-size: 20px;
    margin:25px auto;
    width: calc(100% - 20px);
    max-width: 500px;
}


.calendar-wrapper{
    display: block;
    margin: 0 auto;
}

.filters-body{
    display: block;
    margin: 0 auto;
}

.floor{
    margin-left:15px;
    margin-top: 15px;
}

.hours{
    margin-left:15px;
    margin-top: 20px;
}

.people{
    margin-left:15px;
}

/* .hour-container{
    white-space: nowrap;
} */
.startHourContainer{
    display: inline-block;
    vertical-align: top;
    /* width: calc((100% - 30px)/2); */
    width: 50%;
    border-right: 1px #ccc solid;
}

.endHourContainer{
    display: inline-block;
    vertical-align: top;
    /* width: calc((100% - 30px)/2); */
    width: 48%;
}

.startHourText{
    text-align: center;
    margin-bottom: 15px;
}

.endHourText{
    text-align: center;
    margin-bottom: 15px;
}
.hourInput{
    text-align: center;
}

/* .separator{
    display: inline-block;
    vertical-align: top;
    width: 30px;
}
 */



.invalidHoursContainer{
    color: red;
}


.mat-calendar {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: ridge;
    border-bottom-color:#bbbcbf;
}

mat-slider {
    width: 90%;
    margin-left: 0px;
}

.text-small{
    font-size: 15px;
}

.x-button{
    display: inline-block;
    cursor: pointer;
    margin-left: 10%;
}
.peopleContainerHeader{
    display: inline-block;
}
.floorContainerHeader{
    display: inline-block;
    vertical-align: top;
}
.floorSelectContainer{
    display: inline-block;
    vertical-align: top;
    margin-left: 8%;
}

@media screen and (max-width: 768px) {
    .container{
        position: relative;
    }
    
    .room-view-container{
        position: relative;
        margin: 10px auto;
        width: calc(100% - 20px);
        left: initial;

        height: 200px;
    }

    .filters-header{
        display: block;
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    .button-filters{
        display: block;
        font-size: 15px;
    }

    .dropdown-button{
        position: absolute;
        top: -3px;
        right: -5px;
    }

    .filters-elements{
        display: none;
    }

    .filters-open{
        display: block;
    }
    
    .header-border-bottom{
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 0 10px 10px 10px; 
        margin-left: -10px;
        margin-right: -10px;
        width: 100%;
    }

    .button-filters{
        display: block;
        font-size: 20px;
        margin:25px auto;
        width: calc(100% - 20px);
        max-width: 500px;
    }
}


@media screen and (min-width : 500px) and (max-width : 768px) {
    .calendar-wrapper{
        width:70%;
        display: block;
        margin: 0 auto;
    }

    .floor{
        width:60%;
        display: block;
        margin: 0 auto;
    }

    .hours{
        width:60%;
        display: block;
        margin: 0 auto;
        margin-top:10%;
    }

    .people{
        width:60%;
        display: block;
        margin: 0 auto;
    }

    .button-filters{
        display: block;
        font-size: 20px;
        margin:25px auto;
        width: calc(100% - 20px);
        max-width: 500px;
    }
}


 ::ng-deep .mat-slider-thumb-label{
    background-color: #673ab7 !important;
   
 }

 ::ng-deep .mat-accent .mat-slider-thumb-label-text{
     color: white;
 }


 ::ng-deep .mat-slider-thumb{
    background-color: #673ab7 !important;
 }


::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #673ab7 !important;
}

::ng-deep .mat-calendar-body-cell-content.mat-calendar-body-today {
    background-color:#673ab7;
}

::ng-deep .mat-calendar-body-cell-content.beforeActualDate {
    background-color:red;
}

::ng-deep .mat-calendar-body-cell-content.afterActualDate {
    background-color:yellow;
}