<div class="container">
    <mat-card>
        <div class="head">
            <h1>Login</h1>
        </div>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <mat-form-field>
                    <input matInput placeholder="Enter your email" formControlName="email">
                    <mat-error *ngIf="loginForm.controls.email.invalid ">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Enter your password" type="password" formControlName="password">
                </mat-form-field>
                <button mat-raised-button [disabled]="!loginForm.valid" class="login-button" (click)="onSubmit()">Login</button>
                <!-- <div class="status" *ngIf="loginForm.valid">Invalid fields<div></div> -->
                <mat-spinner
                    class="login-spinner spinner-color" [diameter]=diameter [value]=value [mode]=mode >
                </mat-spinner>
            </form>
        </mat-card-content>
    </mat-card>
</div>