<div class="container">
    <mat-card>
        <div class="head">
            <h1>Login</h1>
        </div>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <mat-form-field>
                    <input matInput placeholder="Enter your email" formControlName="email">
                    <mat-error *ngIf="loginForm.controls.email.invalid ">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Enter your password" type="password" formControlName="password" name="email">
                </mat-form-field>
                <span>
                    <button mat-raised-button color="primary" [disabled]="!loginForm.valid" class="login-button" (click)="onSubmit()">Login</button>
                    <app-spinner [isLoading]="isLoading"></app-spinner>
                    <div *ngIf="status"  class="statusMessage colorGreen">
                        {{statusMessage}}
                    </div>
                    <div *ngIf="!status " class="statusMessage colorRed">
                        {{statusMessage}}
                    </div>
                </span>
            </form>
        </mat-card-content>
    </mat-card>
</div>