.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
   
    background: url("../../assets/images/cegeka-background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

mat-card{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 10px 20px 10px rgba(0,0,0,0.5) !important;
    background: rgb(255,255,255,0.95);
}
mat-card-content{
    padding: 15px 35px 35px 35px;
}
mat-form-field{    
    display: block;
    font-size: 13px;
} 

.login-button {
    margin-top: 15px;
    margin-bottom: 35px;
    float:left;
    width: 100px;
    color: #fff;
}

.head{
    color: #fff;
    font-weight: normal;
    text-align: center;
    background: rgba(0,0,0,0.6);
    margin: 0px;
    padding: 15px 0;
    margin-top: -68px !important;    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
h1{
    margin:0px;
}

.statusMessage{
    margin-top: 25px;
    margin-left: 150px;
    color: red;
}

.colorRed{
    color: red;
}

.colorGreen{
    color: green;
}
    
@media only screen and (max-width: 300px) {
    mat-card{
        width: 220px;
    }
}
@media only screen and (min-width: 301px) and (max-width: 600px) {
    mat-card{
        width: 300px;
    }
}
@media only screen and (min-width: 601px){
    mat-card{
        width: 360px;
    }
}