.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
   
    background: url("../../assets/images/cegeka-background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

mat-card{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 35px;
    width: 25%;
    height: 25%;
    border-radius: 20px;
    box-shadow: 0 3px 20px 0px rgba(0,0,0,0.1);
}

mat-form-field{    
    display: block;
} 
