<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <!--Rolling files-->
        <RollingFile name="infoLog" fileName="logs\infoLog.log"
                     filePattern="C:\Users\Public\$${date:yyyy-MM}\app-%d{MM-dd-yyyy}-%i.log.zip">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <!--Different rolling files for different levels-->

        <RollingFile name="debugLog" fileName="logs\debugLog.log"
                     filePattern="C:\Users\Public\$${date:yyyy-MM}\app-%d{MM-dd-yyyy}-%i.log.zip">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="errorLog" fileName="logs\errorLog.log"
                     filePattern="C:\Users\Public\$${date:yyyy-MM}\app-%d{MM-dd-yyyy}-%i.log.zip" >
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="traceLog" fileName="logs\traceLog.log"
                     filePattern="C:\Users\Public\$${date:yyyy-MM}\app-%d{MM-dd-yyyy}-%i.log.zip" >
            <LevelRangeFilter minLevel="TRACE" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="com.example.log4j2demo" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <Root level = "all">
            <AppenderRef ref="ConsoleAppender">
                <LevelRangeFilter minLevel="info" maxLevel="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </AppenderRef>
            <AppenderRef ref="infoLog"/>
            <AppenderRef ref="debugLog"/>
            <AppenderRef ref="errorLog"/>
            <AppenderRef ref="traceLog"/>
        </Root>
    </Loggers>
</Configuration>