<div class="bookingHoursContainer">

    <span class="hourContainer">

        <form [formGroup]="startHourForm" class="formStyle">

            <span class="hoursInputContainer">
                <div class="key_up_hours">
                    <i class="material-icons" (click)="onKeyUpHoursStartDate()">arrow_drop_up</i>
                </div>
                <div class="hoursInput">
                    <mat-form-field class="hour">
                        <input matInput formControlName="hour" >
                    </mat-form-field>
                </div>
                <div class="key_down_hours">
                    <i class="material-icons" (click)="onKeyDownHoursStartDate()">arrow_drop_down</i>
                </div>
            </span>

            <span class="doubleContainer">
                <b>:</b>
            </span>

            <span class="minutesInputContainer">
                <div class="key_up_minutes">
                    <i class="material-icons" (click)="onKeyUpMinutesStartDate()">arrow_drop_up</i>
                </div>
                <div class="minutesInput">
                    <mat-form-field class="minutes">
                        <input matInput formControlName="minutes">
                    </mat-form-field>
                </div>
                <div class="key_down_minutes">
                    <i class="material-icons" (click)="onKeyDownMinutesStartDate()">arrow_drop_down</i>
                </div>
            </span>

          

        </form>
    </span>

    <span class="verticalLine"></span>

    <span class="hourContainer">

        <form [formGroup]="endHourForm" class="formStyle">

            <span class="hoursInputContainer">
                <div class="key_up_hours">
                    <i class="material-icons" (click)="onKeyUpHoursEndDate()">arrow_drop_up</i>
                </div>
                <div class="hoursInput">
                    <mat-form-field class="hour">
                        <input matInput formControlName="hour" >
                    </mat-form-field>
                </div>
                <div class="key_down_hours">
                    <i class="material-icons" (click)="onKeyDownHoursEndDate()">arrow_drop_down</i>
                </div>
            </span>

            <span class="doubleContainer">
                <b>:</b>
            </span>

            <span class="minutesInputContainer">
                <div class="key_up_minutes">
                    <i class="material-icons" (click)="onKeyUpMinutesEndDate()">arrow_drop_up</i>
                </div>
                <div class="minutesInput">
                    <mat-form-field class="minutes">
                        <input matInput formControlName="minutes" >
                    </mat-form-field>
                </div>
                <div class="key_down_minutes">
                    <i class="material-icons" (click)="onKeyDownMinutesEndDate()">arrow_drop_down</i>
                </div>
            </span>

        </form>
    </span>
    <div class="invalidHoursContainer" *ngIf="invalidHours">
        <p>End hour has to be greater than start hour!</p>
    </div>
    <div class="errorText" *ngIf="(prevalidationStatus==404) && (invalidHours==false)">Invalid parameters</div>
</div>