input{
    text-align: center;
}

.doubleContainer{
    width: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 80px;
}

.hoursInputContainer{
    /* width: calc((100% - 30px)/2); */
    width: 50px;
    display: inline-block;
    vertical-align: top;
}

.minutesInputContainer{
    /* width: calc((100% - 30px)/2); */
    width: 50px;
    display: inline-block;
    vertical-align: top;
}

.hoursInput{
    text-align: center;
}

.minutesInput{
    text-align: center;
}

.errorText{
    color:red;
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}
.successText{
    color:green;
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}
.hour {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 50px;
}

.minutes{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 50px;
}

.key_up_hours{
    text-align: center;
    cursor: pointer;
    margin-bottom: -20px;
    padding-bottom: 10px;
    
}

.key_down_hours{
    text-align: center;
    cursor: pointer;
    margin-top: -20px;
    padding-top: 10px;
}


.key_up_minutes{
    text-align: center;
    cursor: pointer;
    margin-bottom: -20px;
    padding-bottom: 10px;
}

.key_down_minutes{
    text-align: center;
    cursor: pointer;
    margin-top: -20px;
    padding-top: 10px;
}
.material-icons{
    width: 30px;
    height: 30px;
}
::ng-deep .mat-form-field-infix{
    padding:0;
    border:0;
}
::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px;
  
}

.formStyle{
    margin:0;
    display: inline;
}
.hourContainer{
    padding-left:30px;
    padding-right: 30px;
    text-align: center;
}
.invalidHoursContainer {
    margin-top: 10px;
    font-size: 13px; 
    color: red;
    text-align: center;
}


@media screen and (min-width: 481px) {    
    .verticalLine {
        border-left: 1px solid #bfbfbf;
        height: 155px;
        position: absolute;
        left: 50%;
        top: 25px;
    }
}

@media screen and (max-width: 480px) {
    .verticalLine {
        border-left: 1px solid #bfbfbf;
        height: 0px;
        position: absolute;
        left: 50%;
        top: 0px;
    }
    .bookingHoursContainer{
        display: flex;
        flex-direction: column
    }
}