.container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.filters-container{
    position: absolute;
    top: 10px;
    left: 0;
    height: calc(100% - 20px);
    width: 350px;
    overflow: auto;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
}

.room-view-container{
    position: absolute;
    top: 10px;
    left: 350px;
    width: calc(100% - 350px);
    height: calc(100% - 20px);
}

.booking-popup-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    overflow: auto;
    box-sizing: border-box;
    padding: 75px 0 10px 0;

    display: none;
}

.app-booking-popup{
    z-index: 1;
}

.booking-popup-close{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.4);
}

.display-block{
    display: block !important;
}

@media screen and (max-width: 768px) {
    .container{
        position: relative;
    }

    .filters-container{
        position: relative;
        margin: 0 auto 10px auto;
        border: none;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        width: calc(100% - 20px);
    }
    
    .room-view-container{
        position: relative;
        margin: 10px auto;
        width: calc(100% - 20px);
        left: initial;
        height: calc(100vh - 136px);
    }
}
