<div class="container">
  <div class="filters-container">
    <app-filters [buildingLayout]="buildingLayout" (filterChange)="updateRoomsBasedOnFilters($event)" ></app-filters>
  </div>

  <div class="booking-popup-container" *ngIf="bookingPopupOpen" [ngClass]="{'display-block' : bookingPopupOpen}">
    <div class="booking-popup-close"></div>
    <app-booking-popup [(booking)]="booking" (newBooking)="addCreatedBooking($event)" (updatedBooking)="updateBooking($event)" (deletedBooking)="deleteBooking($event)" (closePopup)="closeBookingPopup()"></app-booking-popup>
  </div>

  <div class="room-view-container">
    <app-rooms-view-empty *ngIf="displayedRooms==null || displayedRooms.length==0"></app-rooms-view-empty>
    <app-rooms-view [rooms]="displayedRooms" [forDate]="previousFilters.startDate" (createBooking)="createBooking($event)"></app-rooms-view>
    
  </div>
</div>