<div class="container">
  <div class="filters-container">
    <app-filters [buildingLayout]="buildingLayout" (filterChange)="updateRoomsBasedOnFilters($event)"></app-filters>
  </div>

  <div class="booking-popup-container" [ngClass]="{'display-block' : bookingPopupOpen}">
    <div class="booking-popup-close"></div>
    <app-booking-popup [booking]="newBooking" (booked)="addCreatedBooking($event)" (closePopup)="closeBookingPopup()"></app-booking-popup>
  </div>

  <div class="room-view-container">
    <app-rooms-view [rooms]="rooms" [forDate]="previousFilters.date" (createBooking)="createBooking($event)"></app-rooms-view>
  </div>
</div>