<div class="container">
  <div class="filters-container">
    <app-filters [buildingLayout]="buildingLayout" (filterChange)="updateRoomsBasedOnFilters($event)" (roomChange)="roomIsSelectedOnFilters($event)"></app-filters>
  </div>

  <div class="booking-popup-container" *ngIf="bookingPopupOpen" [ngClass]="{'display-block' : bookingPopupOpen}">
    <div class="booking-popup-close"></div>
    <app-booking-popup [(booking)]="booking" (booked)="addCreatedBooking($event)" (closePopup)="closeBookingPopup()"></app-booking-popup>
  </div>

  <div class="room-view-container">
    <app-rooms-view [rooms]="displayedRooms" [forDate]="previousFilters.startDate" (createBooking)="createBooking($event)"></app-rooms-view>
    <app-rooms-view-empty *ngIf="!displayedRooms || displayedRooms.length==0"></app-rooms-view-empty>
  </div>
</div>