<!-- <div class="container" (mousemove)="mouseMove($event)" (mouseup)="finishBookingDragEvents()">
  <div class="room-header">
    <div class="header-element element-width" *ngFor="let room of rooms">
      <span class="bold">{{room.name}}</span>, <span class="small-font">capacity: <span
          class="bold">{{room.capacity}}</span></span>
    </div>
  </div>

  <div id="room-panel">
    <div class="auto-scroll-fix"></div>

    <div class="panel-element element-width" *ngFor="let room of rooms; let roomIndex = index">
      <div class="interval-container" *ngFor="let interval of intervals; let intervalIndex = index"
        (click)="newBooking(roomIndex, intervalIndex)">
        <div class="interval-text">{{interval}}</div>
      </div>

      <div class="past-time" [style]="styleForPastTime"></div>

      <div *ngFor="let group of groupedBookings[roomIndex]; let groupIndex = index">
        <div class="booking group" [style]="getStyleForGroup(group)"
          [ngClass]="{'booking-half-left': personalBookingsDisplayedHalf && roomIndex === newBookingRoomIndex}">
          <div class="booking-hover-frame" *ngIf="group.bookings.length > 1 && group.personal">
            <div class="booking-hover-reset" (mouseover)="group.focus = null">
                <i class="material-icons group-refresh"> remove </i>
            </div>
            <div class="booking-hover-element" *ngFor="let booking of group.bookings; let hoverIndex = index"
              [ngClass]="{'booking-hover-element-active' : hoverIndex === group.focus}"
              (mouseover)="group.focus = hoverIndex">{{hoverIndex + 1}}</div>
          </div>
        </div>

        <div *ngFor="let booking of group.bookings; let bookingIndex = index;">
          <div class="booking booking-personal" *ngIf="group.personal"
            (click)="openBooking(bookingIndex === group.focus, roomIndex, groupIndex, bookingIndex)" [style]="getStyleForBooking(booking)"
            [ngClass]="{'booking-half-left': personalBookingsDisplayedHalf && roomIndex === newBookingRoomIndex, 'booking-personal-active': bookingIndex === group.focus}">
            <div class="booking-owner">{{getUsernameFromEmail(booking.ownerEmail)}}</div>
            <div class="booking-description">{{booking.description}}
            </div>
          </div>

          <div class="booking booking-other" *ngIf="!group.personal && bookingIndex === 0"
            [style]="getStyleForGroup(group)">
            <div class="booking-owner">{{getUsernameFromEmail(booking.ownerEmail)}}</div>
          </div>
        </div>
      </div>

      <div class="booking booking-new" [style]="newBookingStyle"
        [ngClass]="{'booking-half-right': personalBookingsDisplayedHalf}" *ngIf="roomIndex === newBookingRoomIndex">
      </div>
      <div class="booking" [style]="newBookingArrowsStyle" *ngIf="roomIndex === newBookingRoomIndex"
        [ngClass]="{'booking-half-right': personalBookingsDisplayedHalf}">
        <div class="booking-top-arrow" (mousedown)="followMouse('up')">
          <i class="material-icons arrow-icon"> arrow_drop_up </i>
        </div>
        <div class="booking-both" (mousedown)="followMouse('both')"></div>
        <div class="booking-bottom-arrow" (mousedown)="followMouse('down')">
          <i class="material-icons arrow-icon"> arrow_drop_down </i>
        </div>

        <div class="new-booking-buttons" *ngIf="!arrow">
          <div class="continue-button" (click)="bookRoom()">CONTINUE</div>
          <div class="delete-button" (click)="resetNewBooking()"><i class="material-icons"> delete_forever </i></div>
        </div>
      </div>
    </div>
  </div>
</div> -->