*{
    user-select: none;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

.room-header{
    position: relative;
    height: 40px;
    min-width: 100%;
    white-space: nowrap;
    display: inline-flex;
    overflow-y: scroll;
}

#room-panel{
    position: relative;
    height: calc(100% - 40px);
    min-width: 100%;
    overflow-y: auto;
    white-space: nowrap;
    display: inline-flex;
}

.element-width{
    min-width: 285px;
    margin-right: 10px;
    flex-grow: 1;
}

.header-element{
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    line-height: 39px;
    border-bottom: 1px solid #2d2d2d;
}

.bold{
    font-weight: bold
}

.small-font{
    font-size: 12px;
}

.panel-element, .auto-scroll-fix{
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    height: 2430px;
}

.interval-container{
    position: relative;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
}

.interval-text{
    font-size: 12px;
    color: #888;
}

.booking{
    position: absolute;
    left: 45px;
    width: calc(100% - 45px);
    color: #fff;
    box-sizing: border-box;
    padding: 5px;
    font-size: 12px;
}

.booking-half-left, .booking-half-right{
    width: calc((100% - 45px) / 2);
}

.booking-half-right{
    left: calc(45px + (100% - 45px) / 2);
}

.booking-other{
    background: rgb(255,92,69);
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.booking-personal{
    background: rgb(17,121,201, 0.3);
    color: #888;
}

.booking-personal-active{
    background: rgb(17,121,201);
    color: #fff;
    cursor: pointer;
    z-index: 10;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.booking-new{
    background: rgb(113,196,34);
}

.group{
    background: #fff;
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
}

.booking-owner{
    font-size: 14px;
    margin-bottom: 5px;
}

.booking-description{
    overflow: hidden;
}

.past-time{
    position: absolute;
    top: 10px;
    width: 100%;
    background: rgb(0,0,0,0.2);
}

.booking-top-arrow, .booking-bottom-arrow, .booking-both{
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    background: #2d2d2d;
    left: 0;
    text-align: center;
    color: #fff;
    cursor: n-resize;
}

.booking-bottom-arrow{
    top: initial;
    bottom: 0;
    cursor: s-resize;
}

.booking-both{
    position: relative;
    top: 5px;
    height: calc(100% - 10px);
    cursor: move;
    background: initial;
}

.arrow-icon{
    font-size: 18px;
    line-height: 5px;
    position: relative;
    top: 0;
}

.new-booking-buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
}

.continue-button, .delete-button{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.delete-button{
    color: rgb(194, 56, 36);
    margin-right: -5px;
}

.continue-button{
    font-size: 12px;
    padding: 2px 10px;
    background: #fff;
    border-radius: 5px;
    margin-top: 4px;
    color: #2d2d2d;
    font-weight: bold;
    letter-spacing: 0.6px;
}

.booking-hover-frame{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
}

.booking-hover-element{
    padding: 5px 8px;
    background: #2d2d2d;
    color: #fff;
    text-align: center;
}

.booking-hover-element-active{
    background: rgb(17,121,201);
    border: 1px solid #2d2d2d;
    border-top: none;
    box-sizing: border-box;
}

.booking-hover-reset{
    width: 25px;
    height: 24px;
    position: relative;
    background: #2d2d2d;
}

.group-refresh{
    color: #fff;
    font-size: 14px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1025px) {
    .container{
        padding-left: 10px; 
    }
}

@media screen and (max-width: 1025px) {
    #room-panel{
        position: relative;
        height: calc(100% - 40px);
        min-width: 100%;
        white-space: nowrap;
        overflow: initial;
    }
}
