.hour-container{
    width: 100%;
}


input{
    text-align: center;
}

.doubleContainer{
    width: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 121px;
}



.hoursInputContainer{
    width: calc((100% - 30px)/2);
    display: inline-block;
    vertical-align: top;
}

.minutesInputContainer{
    width: calc((100% - 30px)/2);
    display: inline-block;
    vertical-align: top;
}
.hoursInput{
    text-align: center;
}
.minutesInput{
    text-align: center;
}

.hour {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 80%;
}

.minutes{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 80%;
}

.key_up_hours{
    text-align: center;
}

.key_down_hours{
    text-align: center;
}


.key_up_minutes{
    text-align: center;

}

.key_down_minutes{
    text-align: center;
    
}



/* 

.hour{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.minutes{
    width: 30%;
    margin-left: 10%;
}

  */