.container{
    position: relative;
    padding-bottom: 100%;
    top: 0;
    left: 0;
}

#svg-clock{
    position: absolute;
    width: 100%;
    height: 100%;
}

.svg-exterior-circle{
    stroke: #222222;
    fill: #ffffff;
    stroke-width: 1px;
}

.available{
    fill: #fff;
}

.occupied{
    fill: #FF5B3E;
}

.reserved{
    fill: #71c422;
}

.reservationPin{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    border: 3px solid #71c422;
    transform: translate(-50%, -50%);
}
